<h3>{{viewTitle}}</h3>

<form method="POST">
    <p>Рост: </p>
    <input type="text" name="value1">
    <p>Вес: </p>
    <input type="text" name="value2">

    <button type="submit">Submit</button>

    <p>{{result}}</p>
    <p>{{result2}}</p>
</form>